:root{
    --font:Segoe UI,sans-serif;
}

html[dark] {

    --main-bgcolor:#272626;
    --media-bgcolor:#000;

    --menu-bgcolor:#202020;
    --menu-color:#c3bebe;
    --menu-border-color:#3c393999;
    --menu-hover-color:#5f5b5b;

    --primary-highlight-color:#d57f1a;
    --secondary-highlight-color:#e1dede;

    --primary-forecolor:#fff;

    --playlist-item-color:#959292;
    --playlist-item-border-color:#c3bebe;
    --playlist-item-drag-bgcolor:#423f3f;

    --radio-border-color:#423f3f;
    --radio-checked-color:#d81b60;

    --button-border-color:#959292;
    --button-bgcolor:#272626;
    --button-color:#fff;
    --button-hover-color:#d81b60;
    --button-disabled:#5c5656;

    --input-bgcolor:#423f3f;
    --input-color:#fff;
    --input-focus-outline:#6161c1;

    --close-hover-bgcolor:#da0707c4;
    --close-hover-color:#fff;

    --fullscreen-menu-bgcolor:#14131338;
    --fullscreen-primary-color:#e1dede;

    --slider-bgcolor:#ffffff26;
    --slider-track-bgcolor:#ffffffcc;
    --slider-track-value-color:#817b7b;
    --slider-thumb-bgcolor:#fff;
    --slider-thumb-border-color:#000;

    --scrollbar-track:#272626;
    --scrollbar-thumb:#7979791a;
    --scrollbar-thumb-hover:#79797966;

}

html, body{
    width:100%;
    height:100%;
}

body{
    margin:0;
    font-family: var(--font);
}

