::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

.playlist{
    background-color: var(--third-bgcolor);
    height:100%;
    width: 100%;
    cursor: default;
}

.playlist-title-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 100%;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--primary-border-color);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 900;
    -webkit-app-region: drag;
}

.playlist-close-btn{
    position: absolute;
    top:0;
    width: 45px;
    height: auto;
    text-align: center;
    line-height: 30px;
    user-select: none;
    -webkit-app-region:no-drag;
}

.playlist-viewport{
    position:fixed;
    top: 30px;
    left: 0px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 60px);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    z-index: 800;
}

.file-list{
    list-style: none;
    margin: 5px;
    padding: 0;
    font-size: 14px;
    user-select: none;
    position: relative;
}

.rename{
    display: none;
    position: fixed;
    background-color: var(--rename-bg-color);
    outline: 1px solid var(--input-focus-outline);
    border: 0;
    padding: 5px;
    font-family: Segoe UI,sans-serif;
    font-size: 14px;
    color: var(--primary-highlight-color);
    z-index: 900;
}

.rename:focus{
    outline: 1px solid var(--input-focus-outline);
}

.playlist-item{
    word-break: break-all;
    padding: 5px;
    cursor: default;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    color: var(--third-color);
    font-size: 14px;
}

.playlist-item span{
    pointer-events: none;
}

.no-tooltip .file-list .playlist-item{
    pointer-events: none;
}

.file-list .current{
    color: var(--primary-highlight-bgcolor)
}

.file-list .selected:not(.current){
    color: var(--primary-color);
}

.file-list .selected{
    outline: 1px dotted var(--secondary-color);
}

.playlist-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    z-index: 900;
    border-top: 1px solid var(--primary-border-color);
    background-color: var(--third-bgcolor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn svg{
    width: 17px;
    height: 17px;
    padding: 0 7px;
    pointer-events: none;
    color: var(--primary-color);
}

.btn:hover svg{
    color: var(--primary-highlight-bgcolor);
}

