html, body{
    width:100%;
    height:100%;
}

body{
    margin:0;
    font-family: Segoe UI,sans-serif;
}

#viewport{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.title-bar{
    height:25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    color: #c3bebe;
    cursor: default;
    user-select: none;
    -webkit-app-region: drag;
}

.full-screen .title-bar{
    display: none;
}

.title{
    font-size: 11px;
    flex: 1 1 auto;
    text-align: center;
    height: 15px;
    color: #b9acac;
    line-height: 15px;
}

.icon-area{
    font-size: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ico{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.window-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.minimize,
.maximize,
.close{
    width: 45px;
    height: 100%;
    text-align: center;
    user-select: none;
    position: relative;
    -webkit-app-region: no-drag;
}

.maximize{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.minimize:hover,
.maximize:hover{
    background-color: #5f5b5b;
}

.maximize:hover .minbtn,
.maximize:hover .maxbtn{
    background-color: #5f5b5b;
}

.minbtn,
.maxbtn{
    position: relative;
    width: 7px;
    height: 7px;
    border: 1px solid #c3bebe;
    background-color: #383737;
    pointer-events: none;
}

.maxbtn::after{
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3px;
    left: 1px;
    z-index: -1;
    border: 1px solid #c3bebe;
}

.close:hover{
    background-color: #da0707c4;
    color: #fff;
}

.viewport{
    display:flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.video-container{
    display: flex;
    width:100%;
    height:auto;
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
    background-color: #000;
    color:#c3bebe;
    justify-content: center;
    align-items: center;
}

.video{
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    object-fit: cover;
}

.footer-menu{
    height: 55px;
    user-select: none;
    border-top: 1px solid rgb(100 121 143 / 12%);
    color: #c3bebe;
    background-color: #202020;
}

.full-screen .footer-menu{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    border-top-color: transparent;
    background-color: rgb(20 19 19 / 22%);
    opacity: 0;
    transition: opacity 0.5s;
    padding: 20px 0px 10px 0px;
}

.full-screen .footer-menu:hover{
    opacity: 1;
}

.footer{
    height:100%;
    width:100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    border-top: 1px solid #4848489e;
}

.full-screen .footer{
    border-top-color: transparent;
}

.ctrl-area{
    height: 40px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    flex: 1 1 auto;
    margin-bottom: 5px;
}

.btn,
.btn-large{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn-large svg{
    width: 30px;
    height: 30px;
    pointer-events: none;
    margin-left: 7px;
    color: #e1dede;
}

.btn svg{
    width: 17px;
    height: 30px;
    padding: 0 7px;
    pointer-events: none;
    color: #e1dede;
}

.btn:hover svg,
.btn-large:hover svg{
    color: rgb(213, 127, 26);
}

.play{
    display: block;
}

.playing .play{
    display: none;
}

.pause{
    display: none;
}

.playing .pause{
    display: block;
}

.slider-area{
    height: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3px;
}

.time-area{
    display: flex;
    margin: 0px 10px;
    font-size: 12px;
    flex: 1 1 auto;
    align-items: center;
}

.current-time,
.duration{
    width: 45px;
    color: #817b7b;
    pointer-events: none;
}

.loaded .current-time,
.loaded .duration{
    color: rgb(213, 127, 26);
}

.loaded.full-screen .current-time,
.loaded.full-screen .duration{
    color: #fff
}

.current-time{
    margin-right: 5px;
}

.duration{
    margin-left: 5px;
}

.slider{
    height:2px;
    background-color: rgba(255,255,255,0.15);
}

.slider.sliding,
.slider:hover{
    height:6px;
}

.time-area .slider{
    background-color: rgb(213, 127, 26);
}

.track{
    width:0%;
    height:100%;
    background-color: rgb(255 255 255 / 0.8);
    z-index: 800;
}

.time-area .track{
    background-color: rgb(213, 127, 26);
}

.thumb{
    left:0%;
    height:100%;
    height: 8px;
    width: 8px;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid black;
    z-index: 900;
    position: absolute;
}

.time-area .thumb::before{
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: red;
    position: absolute;
    top: 2px;
    left: 2px;
    box-shadow: inset 0px 0px 1px 1px #7e4040;
}

.thumb.lever{
    left:0%;
    height:100%;
    width: 8px;
    height: 15px;
    border-radius: 2px;
    background-color: #fff;
}

.slider:hover .thumb::after{
    top: 3px;
}

.volume .thumb{
    visibility: hidden;
}

.volume.sliding .thumb,
.volume:hover .thumb{
    visibility: visible;
}

.time,
.volume,
.amp{
    position:relative;
    display: flex;
    align-items: center;
}

.time{
    flex: 1 1 auto;
}

.time::before,
.volume::before{
    content: "";
    position: absolute;
    top: -6px;
    left: 0px;
    height: 16px;
    background-color: transparent;
    width: 100%;
}

.time:hover:before,
.volume:hover:before{
    content: "";
    position: absolute;
    top: -4px;
    left: 0px;
    height: 16px;
    background-color: transparent;
    width: 100%;
}

.volume-area,
.amp-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.volume,
.amp{
    width: 100px;
}

.track-value{
    font-size: 12px;
    margin-left: 5px;
    text-align: left;
    width: 45px;
    color: #817b7b;
}

.full-screen .track-value{
    color: #e3e0e0;
}

.canvas{
    display: none;
}

.btn-separator{
    flex: 1 1 auto;
    height: 100%;
}

.mute .sound:hover::after{
    background: rgb(213, 127, 26);
}

.mute .sound::after{
    content: "";
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
    height: 1px;
    z-index: 9999;
    background: #fff;
}

#convertState{
    visibility:hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.converting #convertState{
    visibility: visible;
}

.ring{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 30px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    margin: 8px 0 3px 0;
    border-radius: 50%;
    border: 3px solid #c3bebe;
    border-color: #c3bebe transparent #c3bebe transparent;
    animation: lds-dual-ring 1.8s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.message-box{
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: fixed;
    top:200px;
    left: 500px;
}

.message-text{
    width: 100%;
    height: 250px;
    resize: none;
}

.message-footer{
    width: 100%;
    height: 50px;
    background-color: #ccc;
}

.autohide{
    cursor: none;
}
